* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    // overflow: hidden;
    width: 100%;
}

html {
    overflow: hidden;
}

body {
    background-color: $white;
    color: $black;
    font-family: $base-font-family;
    letter-spacing: kerning(120);
    line-height: $base-line-height;
    // position: fixed;
}
