@import 'config/colors', 'config/transitions', 'config/setup';

@import 'utilities/functions/remove-unit',
    'utilities/functions/kerning',
    'utilities/functions/unit-conversion';

@mixin hidefont {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
